.container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
}

.footer * {
    color: gray;
}

.source {
    font-size: 14px;
    font-family: sans-serif;
    height: 100px;
    width: 300px;
    word-break: break-all;
}

.ec-level {
    cursor: pointer;
    text-decoration: underline;
}

.ec-level.ec-level-active {
    cursor: default;
    font-weight: bolder;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.decoded-image {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
