.container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0;
}

.footer>* {
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: gray;
    flex-grow: 1;
}

.footer a {
    color: gray;
}

.source {
    font-size: 14px;
    font-family: sans-serif;
    height: 96px; /* 300 - padding - border */
    width: 296px; /* 300 - padding - border */
    word-break: break-all;
    border-width: 1px;
    padding: 1px;
}

.clickable {
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
    text-align: center;
    min-width: 1em;
    color: gray;
    cursor: pointer;
    text-decoration: underline;
}

.ec-level.ec-level-active {
    background-color: gray;
    color: white;
    cursor: default;
    font-weight: bolder;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.decoded-image {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
}
