html {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.chrome .chrome-hidden {
    display: none !important;
}

.firefox .firefox-hidden {
    display: none !important;
}

.clickable {
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    color: gray;
    cursor: pointer;
    text-decoration: underline;
    font-family: sans-serif;
    display: inline-flex;
    gap: 0.4em;
    align-items: center;
}

.clickable:hover {
    background-color: rgba(100, 100, 100, 0.2);
    color: #444;
}

@media (prefers-color-scheme: dark) {
    .clickable {
        color: rgb(140, 140, 140);
    }
    .clickable:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #BBB;  
    }
}

.icon {
    height: 1em;
    vertical-align: middle;
    opacity: 0.8;
}

.clickable .icon {
    position: relative;
    top: 1px;
}

.clickable:hover .icon {
    opacity: 1;
}

.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    margin: 1rem;
    height: 1rem;
    white-space: nowrap;
    gap: 0.5rem;
    color: #888;
}

.divider::before,
.divider::after {
    height: 1px;
    width: 100%;
    flex-grow: 1;
    content: "";
    background-color: lightgray;
}

@media (prefers-color-scheme: dark) {
    .divider {
        color: #777;
    }
    .divider::before,
    .divider::after {
        background-color: rgb(45, 45, 45);
    }
}

textarea[readonly] {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    .icon-invert {
        filter: invert(1);    
    }
}