html {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.chrome .chrome-hidden {
    display: none !important;
}

.firefox .firefox-hidden {
    display: none !important;
}

.clickable {
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    color: gray;
    cursor: pointer;
    text-decoration: underline;
    font-family: sans-serif;
    display: inline-flex;
    gap: 0.4em;
    align-items: center;
}

.clickable:hover {
    background-color: rgba(100,100,100,0.2)
}

.icon {
    height: 1em;
    vertical-align: middle;
    opacity: 0.8;
}

.clickable .icon {
    position: relative;
    top: 1px;
}

textarea[readonly] {
    outline: none;
}