html, body {
    padding: 0;
    margin: 0;
}

.container {
    background: linear-gradient(#DFD 0%, #EFE 30%);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box {
    padding: 2rem 2rem;
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    color: #666;
    font-family: sans-serif;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    display: flex;
    gap: 2rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    align-self: center;
}