:root {
    font-size: 16px;
}

html,
body {
    background-color: transparent;
    height: 100vh;
    height: 100svh;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

.mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0;
    cursor: crosshair;
}

.mask.showing-result {
    cursor: auto;
    border-color: rgba(0, 0, 0, 0.9);
}

.spotlight {
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: white solid 2px;
    border-radius: 4px;
    box-shadow: #80ff80 0 0 20px;
}

@media (prefers-color-scheme: dark) {
    .spotlight {
        outline: rgb(85, 85, 85) solid 2px;
        box-shadow: #000000 0 0 20px;
    }
}

.spotlight.off {
    outline: none;
    box-shadow: none;
}

.captured {
    display: block;
    width: 100%;
    height: 100%;
    cursor: auto;
}

.tips {
    padding: 4px;
    position: fixed;
    left: 0px;
    top: 0px;
    min-width: 100px;
    transition: opacity 0.1s linear 0s;
    display: block;
    opacity: 1;
    cursor: auto;
}

.logo {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0) 80%)
}

.tips-text {
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 1px 10px, rgb(0, 0, 0) 0px 1px 10px, rgb(0, 0, 0) 0px 1px 10px;
    user-select: none;
    vertical-align: middle;
    font-size: 1rem;
    font-family: sans-serif;
}

.showing-result .tips-text {
    display: none;
}


.tips-text kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    padding: 2px 4px;
    white-space: nowrap;
    margin-left: 0.5rem;
    height: 1.5em;
    vertical-align: middle;
}

.tips-text kbd .icon {
    display: block;
    height: 1.5em;
}

.x-mark {
    position: fixed;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    right: 0px;
    top: 0px;
    margin: 4px;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px, rgb(0, 0, 0) 0px 0px 10px, rgb(0, 0, 0) 0px 0px 10px;
    font-size: 2rem;
    font-family: sans-serif;
    cursor: pointer;
    transition: opacity 0.1s linear 0s;
    opacity: 1;
}

.result {
    display: block;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    word-break: break-all;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 25rem;
    max-width: 90%;
    box-shadow: #80ff80 0 0 20px;
    outline: white solid 2px;
    cursor: auto;
    background: linear-gradient(#DFD 0%, #EFE 30%);
}

.result textarea {
    font-size: medium;
    font-family: sans-serif;
    width: calc(100% - 12px);
    word-break: break-all;
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
    padding: 1px;
    margin: 6px;
    resize: none;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
}

.result-actions {
    display: flex;
    gap: 0.5rem;
    margin: 6px;
}

@media (prefers-color-scheme: dark) {
    .result {
        outline: rgb(85, 85, 85) solid 2px;
        box-shadow: #000000 0 0 20px;
        background: linear-gradient(#002d00 0%, #011701 33%, #0a0a1d 100%) no-repeat;
    }

    .result textarea {
        color: #ccc;
        border-color: #333;
        background-color: rgba(0, 0, 0, 0.7);
    }    
}

.loading {
    cursor: wait !important;
}