body {
    zoom: 1;
}

.container {
    height: 450px;
    width: 300px;
}

/* main tab */

.main {
    display: grid;
    justify-items: center;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 100px 25px 300px 25px;
}

.main .source {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 14px;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    word-break: break-all;
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
    padding: 1px;
    resize: none;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

.main .result {
    grid-column: 1 / span 3;
    grid-row: 3;
    height: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
}

.main .length-view {
    grid-column: 1 / span 1;
    grid-row: 2;
    justify-self: start;
}

.main .ec-view {
    grid-column: 3 / span 1;
    grid-row: 2;
    justify-self: end;
}

.main .footer.actions1 {
    grid-column: 1;
    grid-row: 4;
    justify-self: start;
}

.main .footer.actions2 {
    grid-column: 2;
    grid-row: 4;
}

.main .footer.actions3 {
    grid-column: 3;
    grid-row: 4;
    justify-self: end;
}

.main .necker, .main .footer {
    font-size: 14px;
    font-family: sans-serif;
    padding: 2px 0;
    color: gray;
    line-height: 22px;
    white-space: nowrap;
}

.main .ec-level.ec-level-active {
    background-color: gray;
    color: white;
    cursor: default;
    font-weight: bolder;
    text-decoration: none;
}

/* history tab */

.history {
    display: grid;
    justify-items: center;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: auto auto;
}

.history .footer.actions1 {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
}

.history .footer.actions2 {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

.history .footer.actions3 {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
}

.history .history-items {
    grid-row: 1;
    grid-column: 1 / span 3;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 428px;
    overflow: auto;
    width: 100%;
}

.history .history-items li {
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    /*color: gray;*/
}

.history .history-items li > img {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

.history .history-items li:nth-child(odd) {
    background-color: #F2F2F2;
}

.history li:hover {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.history .footer {
    font-size: 14px;
    font-family: sans-serif;
    padding: 2px 0;
    color: gray;
    line-height: 22px;
    white-space: nowrap;
}

/* scan tab */

.scan {
    display: grid;
    justify-items: center;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 300px 25px 100px 25px;
}

.scan .instruction-screen {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    justify-self: center;
    align-self: center;
}

.scan .input {
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scan .input-box {
    position: relative;
}

.scan .scan-input-image {
    max-width: 300px;
    max-height: 300px;
}

.scan .camera {
    width: 100%;
    height: 100%;
}

.scan .output {
    grid-column: 1 / span 3;
    grid-row: 3;
    font-size: 14px;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    word-break: break-all;
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
    padding: 1px;
    resize: none;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

.scan .qr-position-marker-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.scan .qr-position-marker {
    /*background-color: white;*/
    /*border-radius: 100%;*/
    /*opacity: 0.95;*/
}

.scan .necker {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

.scan .footer {
    font-size: 14px;
    font-family: sans-serif;
    padding: 2px 0;
    color: gray;
    line-height: 22px;
    white-space: nowrap;
}

.scan .footer.actions1 {
    grid-column: 1;
    grid-row: 4;
    justify-self: start;
}

.scan .footer.actions2 {
    grid-column: 2;
    grid-row: 4;
}

.scan .footer.actions3 {
    grid-column: 3;
    grid-row: 4;
    justify-self: end;
}

/* tabs */
.tabs-container {
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
    gap: 4px;
}

.tabs-item {
    box-sizing: border-box;
    text-align: center;
    border-bottom: 2px solid #ccc;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    gap: 4px;
}

.tabs-item:hover {
    color: #333;
}

.tabs-item.active {
    background-color: #eee;
    font-weight: bold;
    border-bottom: 2px solid #666;
    color: #333;
}

/* utils */
.instructions {
    color: gray;
    text-align: center;
    font-family: sans-serif;
}

.clickable {
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
    text-align: center;
    min-width: 1em;
    color: gray;
    cursor: pointer;
    text-decoration: underline;
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

.icon {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    opacity: 0.8;
    margin-right: 0.1rem;
}