html,
body {
    padding: 0;
    margin: 0;
}

html {
    background: #efe;
    min-height: 100vh;
}

.container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box {
    box-sizing: border-box;
    padding: 2rem 2rem;
    width: 40em;
    max-width: 100%;
    color: #666;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;;
}

.header h1 {
    font-size: 1rem;
    margin: 0;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.minimal .header {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

fieldset {
    border: 1px solid gray;
    border-radius: 4px;
}

.form-entry {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #121;
    }
    .box {
        color: #999999;
    }
}