#footer {
    font-size: 0.6em;
    font-family: sans-serif;
    color: chocolate;
}

#sourceStr {
    font-size: 0.6em;
    font-family: sans-serif;
    color: brown;
}

body {
    max-width: 400px;
}